# GitHub Token
GITHUB_TOKEN=

# 仓库地址
GITHUB_REPO=Yorlg/Duckfolio

# 分支
GITHUB_BRANCH=deploy

# 管理员密码
ADMIN_PASSWORD=

# Vercel API 访问令牌（仅限服务端）
VERCEL_TOKEN=
# Vercel 项目 ID（若启用了系统环境变量，则会自动提供）
VERCEL_PROJECT_ID=
# 团队项目：在 Vercel 团队设置中设置团队 ID。
VERCEL_TEAM_ID=

# AI 网关 API Key
AI_GATEWAY_API_KEY=

# AI 网关 Base URL
AI_BASE_URL=